.character-container-height {
	height: calc(100vh - 62px);
	position: relative;
}
.character-picture-container {
	display: flex;
	position: relative;
	max-width: 60vw;
	overflow: hidden;
}

.character-img {
	height: 90vh;
	object-fit: cover;
	object-position: 60% 30%;
	filter: grayscale(30%);
}

.character-masque-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 350px;
	z-index: 5;
	background: linear-gradient(
		rgba(255, 255, 255, 0) 0%,
		var(--marvel-black) 80%
	);
}

.character-container-width {
	display: flex;
	position: relative;
	width: 50%;
}

.character-masque-right {
	height: 90vh;
	width: 300px;
	position: absolute;
	right: 0;
	background: linear-gradient(
		90deg,
		rgba(253, 253, 253, 0) 0%,
		var(--marvel-black) 70%
	);
}
