.character-picture-container {
	margin: 0 auto;
	width: 50vw;
	margin-top: 40px;
	display: flex;
	position: relative;
	max-width: 60% 40%;
}

.character-img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	/* filter: grayscale(30%); */
}

.character-masque-radial {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	background: radial-gradient(#e6646400 20%, var(--marvel-black) 70%);
}

.character-details-container {
	margin: 0 auto;
	width: 50vw;
	margin-top: 40px;
	background-color: aliceblue;
	color: white;
}

.character-details-container p {
	font-size: 18px;
	padding: 10px;
	line-height: 1.5rem;
	letter-spacing: 0.2rem;
}
