.like-character-button {
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 26px; /* Need a specific value to work */
	background-color: white;
	border-radius: 50%;
}

.heart {
	background-color: transparent;
	font-size: 1rem;
	padding: 5px;
	border-radius: 50%;
	color: #c9c9c9;

	text-shadow: 1px 1px 2px var(--marvel-black), 0 0 0.2em var(--marvel-yellow),
		0 0 0.2em white;
}

.heart.red {
	color: var(--marvel-red);
}

.like-comics-button {
	position: absolute;
	top: 60px;
	right: 10px;
	width: 26px; /* Need a specific value to work */
	background-color: white;
	border-radius: 50%;
}

.like-comics-button :hover {
	cursor: pointer;
}
