.search-container {
	padding-bottom: 0px;
	position: sticky;
	top: 50px;
	z-index: 3;
	width: 50vw;
	margin: 0 auto;
}

.search-input {
	border: 1px solid #efefef62;
	border-radius: 5px;
	max-width: 400px;
	margin: 5px auto 5px auto;
	display: flex;
	align-items: center;
}

.search-icon {
	color: #efefef62;
	font-size: 1.1rem;
	padding: 0 3px;
}
.search-container input {
	font-size: 1.5rem;
	border: none;
	width: 100%;
	text-shadow: 1px 1px 2px var(--marvel-black), 0 0 0.5em red, 0 0 0.2em white;
	color: var(--marvel-yellow);
	padding: 3px;
	text-align: center;
	border-radius: 5px;
}

.search-container input:focus {
	outline-width: 0;
}
