:root {
	--marvel-red: #d01e00;
	--marvel-yellow: #fedb0e;
	--marvel-blue: #41a6de;
	--marvel-black: #0a1c20;
	/* --font: "Roboto Condensed", sans-serif; */
	--font: "Bangers", cursive;
}

* {
	box-sizing: border-box;
	font-family: var(--font);
	background-color: var(--marvel-black);
}

body {
	box-sizing: border-box;
	font-family: var(--font);
}
.page-container {
	background-color: var(--marvel-black);
}
.container90vw {
	max-width: 80vw;
	margin: 0 auto;
}

h1 {
	width: 100vw;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: white;

	text-shadow: 1px 1px 2px var(--marvel-black), 0 0 0.2em var(--marvel-yellow),
		0 0 0.2em white;
	position: sticky;
	top: 0px;
	z-index: 2;
	padding-top: 50px;
}
@media (max-width: 768px) {
	h1 {
		font-size: 30px;
		white-space: nowrap;
	}
}

a {
	text-decoration: none;
	color: inherit;
}
